.toastr {
  min-height: 50px !important;
}
.rrt-holder {
  width: 50px !important;
}
.rrt-text {
  margin-left: -30px !important;
}
.toastr-icon {
  width: 25px !important;
  height: 25px !important;
}